//family
$font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", "Microsoft JhengHei",Roboto, "Helvetica Neue",Arial,sans-serif;
//color
$paimary: #007bff;
$blue: #007bff;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$pink: #e83e8c;
$danger: #dc3545;
$block: #000000;
$orange: #fd7e14;
$gray: #6c757d;
$secondary: #6c757d;
$white: #ffffff;
//個性化顏色
$hex-green:#00cc99;
$hex-red: #3d1101;
$hex-gray:#EFE9E7;
$google:#dc3545;
$twitter:#007bff;
$facebook: #3a5795;
//rgba
$rgba-block-75: rgba(0,0,0,0.75);
$rgba-block-35: rgba(0,0,0,0.35);
//font-size
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-title: 36px;
//font-width
$font-bold: bold;


